* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #E5E5E5;
}
body .wraper {
  width: 1920px;
  background-color: #F5FCFA;
  margin: 0 auto;
}
body .wraper .background-image-header {
  background: url(./img/delivery-of-goods.png);
  width: 927px;
  height: 891px;
  position: absolute;
  opacity: 0.2;
  border-radius: 0px 0px 0px 150px;
  margin-left: 993px;
}
body .wraper .container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}
body .wraper .container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .wraper .container .nav .nav_logo {
  margin-top: 24px;
  width: 141px;
  height: 40px;
}
body .wraper .container .nav .nav_navigate {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
body .wraper .container .nav .nav_navigate .nav_link {
  display: flex;
}
body .wraper .container .nav .nav_navigate .nav_link a {
  margin-right: 47px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #0C122D;
  text-decoration: none;
  cursor: pointer;
}
body .wraper .container .nav .nav_navigate .nav_button button {
  color: #ffffff;
  background-color: #1B5FC1;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  border-radius: 8px;
  padding: 8px 24px;
}
body .wraper .container .header {
  margin-top: 80px;
}
body .wraper .container .header .header-main_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 61px;
}
body .wraper .container .header .header-main_block .header_information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 88px;
}
body .wraper .container .header .header-main_block .header_information .text {
  margin-bottom: 30px;
}
body .wraper .container .header .header-main_block .header_information .text p {
  font-family: "Rubik", sans-serif;
  color: #FFB800;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
}
body .wraper .container .header .header-main_block .header_information .title {
  margin-bottom: 40px;
}
body .wraper .container .header .header-main_block .header_information .title h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
  color: #0C122D;
}
body .wraper .container .header .header-main_block .header_information .description {
  width: 490px;
  height: 96px;
  margin-bottom: 62px;
}
body .wraper .container .header .header-main_block .header_information .description p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #575C74;
}
body .wraper .container .header .header-main_block .header_information .buttons {
  display: flex;
  gap: 10px;
}
body .wraper .container .header .header-main_block .header_information .buttons .header_button_one {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  padding: 8px 24px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #1B5FC1;
  box-shadow: 0px 10px 15px rgba(27, 95, 193, 0.19);
}
body .wraper .container .header .header-main_block .header_information .buttons .header_button_two {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  padding: 8px 24px;
  border-radius: 8px;
  background-color: #F5FCFA;
  color: #FFB800;
  border: 1px solid #FFB800;
}
body .wraper .container .header .header-main_block .header_img img {
  width: 496px;
  height: 744px;
  border-radius: 16px 16px 16px 0px;
}
body .wraper .container .header .header-item_block {
  display: flex;
  gap: 31px;
  width: 1141px;
  height: 179px;
  margin-bottom: 53px;
}
body .wraper .container .header .header-item_block .content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 270px;
  height: 179px;
}
body .wraper .container .header .header-item_block .content .content-img {
  margin-right: 25px;
}
body .wraper .container .header .header-item_block .content .content-img img {
  width: 40;
  height: 40;
}
body .wraper .container .header .header-item_block .content .content-description h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #0C122D;
  margin-bottom: 15px;
}
body .wraper .container .header .header-item_block .content .content-description p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #575C74;
}
body .wraper .about {
  display: flex;
  background-color: #ffffff;
  max-width: 1920px;
  padding-top: 80px;
}
body .wraper .about .container .about-block {
  display: flex;
  gap: 47px;
}
body .wraper .about .container .about-block .about-img img {
  width: 570px;
  height: 616px;
  left: 391px;
  top: 1275px;
  border-radius: 16px 16px 16px 0px;
}
body .wraper .about .container .about-block .about-description {
  margin-bottom: 90px;
}
body .wraper .about .container .about-block .about-description h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #0C122D;
  margin-bottom: 23px;
}
body .wraper .about .container .about-block .about-description .description p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #575C74;
}
body .wraper .info {
  background-color: #ffffff;
  max-width: 1920px;
  margin-bottom: 80px;
}
body .wraper .info .container {
  display: flex;
}
body .wraper .info .container .info-block_one {
  background-image: url(./img/info-block_one.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  width: 796px;
  height: 612px;
  width: 50%;
}
body .wraper .info .container .info-block_one .info-block_one-description {
  width: 285px;
  height: 332px;
}
body .wraper .info .container .info-block_one .info-block_one-description p {
  background-color: #1B5FC1;
  padding: 60px 30px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}
body .wraper .info .container .info-block_two {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
body .wraper .info .container .info-block_two .info-block_two-description {
  display: flex;
}
body .wraper .info .container .info-block_two .info-block_two-description .item-one {
  width: 50%;
}
body .wraper .info .container .info-block_two .info-block_two-description .item-one p {
  background-color: #ffffff;
  padding: 80px 30px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #575C74;
}
body .wraper .info .container .info-block_two .info-block_two-description .item-two {
  width: 50%;
  background-color: #1B5FC1;
  border-radius: 0px 20px 0px 0px;
}
body .wraper .info .container .info-block_two .info-block_two-description .item-two p {
  font-family: "Open Sans", sans-serif;
  padding: 80px 30px 132px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
}
body .wraper .info .container .info-block_two .info-block_two-contact {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 40px 50px 38px;
  height: 240px;
  border-radius: 0px 0px 20px 0px;
  background-color: #FFB800;
}
body .wraper .info .container .info-block_two .info-block_two-contact .info-information .info-title h3 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  color: #0C122D;
  margin-bottom: 5px;
}
body .wraper .info .container .info-block_two .info-block_two-contact .info-information .info-description p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 28px;
}
body .wraper .info .container .info-block_two .info-block_two-contact .info-comunication {
  width: 100%;
  display: flex;
}
body .wraper .info .container .info-block_two .info-block_two-contact .info-comunication .info-button {
  margin-right: 40px;
}
body .wraper .info .container .info-block_two .info-block_two-contact .info-comunication .info-button button {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #1B5FC1;
  background-color: #FFB800;
  border: 1px solid #1B5FC1;
  border-radius: 8px;
  padding: 8px 24px;
}
body .wraper .info .container .info-block_two .info-block_two-contact .info-comunication .vertical-line {
  width: 1px;
  height: 46px;
  background-color: #ffffff;
  margin-right: 40px;
}
body .wraper .info .container .info-block_two .info-block_two-contact .info-comunication .info-phone a {
  display: flex;
}
body .wraper .info .container .info-block_two .info-block_two-contact .info-comunication .info-phone a .info-img img {
  width: 46px;
  height: 46px;
}
body .wraper .info .container .info-block_two .info-block_two-contact .info-comunication .info-phone a .info-tell {
  margin-left: 13px;
}
body .wraper .info .container .info-block_two .info-block_two-contact .info-comunication .info-phone a .info-tell p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #1B5FC1;
}
body .wraper .info .container .info-block_two .info-block_two-contact .info-comunication .info-phone a .info-tell h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
body .wraper .certification {
  margin-bottom: 80px;
}
body .wraper .certification .container .certification-main {
  display: flex;
  align-items: center;
}
body .wraper .certification .container .certification-main .certification-block_one P {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #575C74;
  margin-right: 16px;
}
body .wraper .certification .container .certification-main .certification-block_two hr {
  width: 147px;
  height: 1px;
  background: #FFB800;
  margin-right: 87px;
}
body .wraper .certification .container .certification-main .certification-block_three img {
  width: 66.78px;
  height: 80px;
  margin-right: 100.22px;
}
body .wraper .certification .container .certification-main .certification-block_four img {
  width: 126.01px;
  height: 80px;
  margin-right: 99.99px;
}
body .wraper .certification .container .certification-main .certification-block_five img {
  width: 104.82px;
  height: 80px;
}
body .wraper .reasons {
  margin-bottom: 61px;
}
body .wraper .reasons .container {
  display: flex;
}
body .wraper .reasons .container .reasons-img {
  margin-right: 90px;
}
body .wraper .reasons .container .reasons-img img {
  width: 400px;
  height: 630px;
  border-radius: 16px 16px 16px 0px;
}
body .wraper .reasons .container .reasons-description {
  display: flex;
  flex-wrap: wrap;
}
body .wraper .reasons .container .reasons-description .reasons-title {
  margin-bottom: 35px;
}
body .wraper .reasons .container .reasons-description .reasons-title h3 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #0C122D;
  margin-bottom: 20px;
}
body .wraper .reasons .container .reasons-description .reasons-title p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #575C74;
}
body .wraper .reasons .container .reasons-description .reasons-facts {
  display: flex;
  flex-wrap: wrap;
}
body .wraper .reasons .container .reasons-description .reasons-facts .reasons-item {
  display: flex;
  max-width: 48%;
}
body .wraper .reasons .container .reasons-description .reasons-facts .reasons-item:nth-child(odd) {
  margin-right: 26px;
}
body .wraper .reasons .container .reasons-description .reasons-facts .reasons-item:nth-child(-n+2) {
  margin-bottom: 23px;
}
body .wraper .reasons .container .reasons-description .reasons-facts .reasons-item .reasons-icon {
  margin-right: 17px;
}
body .wraper .reasons .container .reasons-description .reasons-facts .reasons-item .reasons-icon img {
  width: 56px;
  height: 56px;
}
body .wraper .reasons .container .reasons-description .reasons-facts .reasons-item .reasons-data h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #0C122D;
  margin-bottom: 8px;
}
body .wraper .reasons .container .reasons-description .reasons-facts .reasons-item .reasons-data p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #575C74;
}
body .wraper .comment .comment-main {
  display: flex;
  justify-content: center;
  margin-bottom: 88px;
}
body .wraper .shop_now {
  margin-bottom: 120px;
}
body .wraper .shop_now .container {
  display: flex;
  justify-content: center;
}
body .wraper .shop_now .container .shop_now-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 750px;
  height: 210px;
}
body .wraper .shop_now .container .shop_now-main .shop_now-title h3 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #0C122D;
}
body .wraper .shop_now .container .shop_now-main .shop_now-title p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #575C74;
  padding: 30px 37px 29px 49px;
}
body .wraper .shop_now .container .shop_now-main .shop_now-button button {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  padding: 8px 24px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #1B5FC1;
  box-shadow: 0px 10px 15px rgba(27, 95, 193, 0.19);
}
body .wraper .contacts {
  background-color: #FFB800;
}
body .wraper .contacts .container .contacts-main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 41px 0 39px;
}
body .wraper .contacts .container .contacts-main .contacts-item {
  display: flex;
  flex-wrap: nowrap;
}
body .wraper .contacts .container .contacts-main .contacts-item .contacts-icon {
  margin-right: 15px;
}
body .wraper .contacts .container .contacts-main .contacts-item .contacts-icon img:nth-child(1) {
  width: 25.6px;
  height: 32px;
}
body .wraper .contacts .container .contacts-main .contacts-item .contacts-icon img:nth-child(2) {
  width: 32px;
  height: 32px;
}
body .wraper .contacts .container .contacts-main .contacts-item .contacts-icon img:nth-child(3) {
  width: 32px;
  height: 22.86px;
}
body .wraper .contacts .container .contacts-main .contacts-item .contacts-title h3 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #0C122D;
}
body .wraper .contacts .container .contacts-main .contacts-item .contacts-title p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #0C122D;
}
body .wraper .contacts .container .contacts-main .contacts-block_line {
  width: 1px;
  height: 52px;
  background: #E0E0E0;
}
body .wraper footer {
  background-color: #ECF0F5;
  padding-top: 73px;
}
body .wraper footer .container .footer-main {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 14px;
}
body .wraper footer .container .footer-main .footer-about {
  display: flex;
  flex-wrap: wrap;
}
body .wraper footer .container .footer-main .footer-about .footer-about-logo {
  margin-bottom: 33px;
}
body .wraper footer .container .footer-main .footer-about .footer-about-logo img {
  width: 161px;
  height: 40px;
}
body .wraper footer .container .footer-main .footer-about .footer-about-description {
  margin-right: 299px;
}
body .wraper footer .container .footer-main .footer-about .footer-about-description p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #575C74;
}
body .wraper footer .container .footer-main .footer-company {
  display: flex;
  flex-wrap: wrap;
  margin-right: 299px;
}
body .wraper footer .container .footer-main .footer-company .compaty-title {
  margin-bottom: 12px;
}
body .wraper footer .container .footer-main .footer-company .compaty-title h3 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #0C122D;
}
body .wraper footer .container .footer-main .footer-company .company-navigete .company-navigete-link h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #575C74;
}
body .wraper footer .container .footer-main .footer-follow_us {
  display: flex;
  flex-wrap: wrap;
}
body .wraper footer .container .footer-main .footer-follow_us .follow_us-main h3 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #0C122D;
}
body .wraper footer .container .footer-main .footer-follow_us .folllow_us-social {
  display: flex;
  flex-wrap: nowrap;
}
body .wraper footer .container .footer-main .footer-follow_us .folllow_us-social .follow_us-icons {
  margin-right: 13.82px;
}
body .wraper footer .container .footer-main .footer-follow_us .folllow_us-social .follow_us-icons img {
  width: 22.18px;
  height: 129px;
}
body .wraper footer .container .footer-main .footer-follow_us .folllow_us-social .follow_us-item .follow_us-title a h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #575C74;
  margin-top: -2px;
}
body .wraper footer .footer-line {
  align-items: center;
  width: 1920px;
  height: 1px;
  background: #E1E6EC;
  margin-bottom: 31.72px;
}
body .wraper footer .footer-information p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #575C74;
  text-align: center;
  margin-bottom: 30.28px;
}
